@import "tailwindcss";

@theme {
  --color-sfl-gold: #ffc627;
  --color-sfl-black: #1a1a1a;
  --color-sfl-gray: #4b4b4b;
  --font-display: var(--font-oswald);
  --font-body: var(--font-inter);
}

body {
  @apply bg-white font-body text-sfl-black antialiased;
}
